<h1>Create a New Custom Record</h1>

<%= form_for @changeset, custom_record_path(@conn, :create), [multipart: true], fn f -> %>
  <%= render "form.html", conn: @conn, changeset: @changeset, f: f %>
<% end %>
