/* This file is for your main application css. */
@import "./phoenix.css";

/* For the addition of dynamic retrieval keys in experiment view */
.input_container input.form-control {
  display: inline-block;
  margin: 5px 5px 0 0;
  width: 30%;
}

.page-title {
  text-align: center;
}

.top-buttons-container, .navigation-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.top-buttons-container > div {
  flex: 1;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.hide {
    display: none;
}

/* Custom size */
.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}
