/* This file is for your main application css. */
@import "./phoenix.css";

/* For the addition of dynamic retrieval keys in experiment view */
.input_container input.form-control {
  display: inline-block;
  margin: 5px 5px 0 0;
  width: 30%;
}

.page-title {
  text-align: center;
}

.top-buttons-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.top-buttons-container > div {
  flex: 1;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.hide {
    display: none;
}

/* Not needed because we are using a header instead. */
/* .navigation-container {
  position: relative;
  top: 100px;
} */
