<h2>Edit a custom record</h2>

<p>
  Please use the endpoints shown below when retrieving this custom record:
</p>

<ul>
  <li>Retrieval: <code><%= get_endpoint_url(:retrieve_as_json, @custom_record.id) %></code></li>
</ul>

<%= form_for @changeset, custom_record_path(@conn, :update, @custom_record), [multipart: true], fn f -> %>
  <%= render "form.html", conn: @conn, changeset: @changeset, f: f %>
<% end %>
