/* This file is for your main application css. */

/* For the addition of dynamic retrieval keys in expeirment view */
.input_container input.form-control {
    display: inline-block;
    margin: 5px 5px 0 0;
    width: 30%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}
