.slider {
  /* default is width 400 and margin 10 */
	width: 400px;
	margin: 10px;
}

.slider_table {
	margin: auto auto;
}

.highlight_numbers {
	font-size: 28px;
	font-weight: bold;
}

.highlight_numbers_other {
	font-size: 20px;
	font-style: italic;
}

