<!-- <h2>Welcome to BABE</h2> -->

<%= link "Manage Experiments", to: experiment_path(@conn, :index), class: "btn btn-primary btn-block " %>

<%= link "Manage Custom Records", to: custom_record_path(@conn, :index), class: "btn btn-primary btn-block " %>
