<h2>Basic Architecture for Browser-based Experiments</h2>

<div class="row navigation-container">
<div class="col-xs-6">
<%= link "Manage Experiments", to: experiment_path(@conn, :index), class: "btn btn-primary btn-lg btn-block " %>
</div>
<div class="col-xs-6">
<%= link "Manage Custom Records", to: custom_record_path(@conn, :index), class: "btn btn-success btn-lg btn-block " %>
</div>
</div>